.processcontainer {
  border-radius: 5px;
  background: #f8f8f8;
  margin-bottom: 8px;
  margin-right: 8px;
}

.processTitleBar {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: #373C46;
  color: #4B9BB4;
  padding: 5px;
}

.vizdashcontainer {
  margin: 30px;
  border-radius: 5px;
  background: whitesmoke;
  height: 100%;
  min-height: 55em;
}

.processUptimeValue {
  color: #e6a041;
  margin-top: 5px;
}

.cpuChart {
  padding-top: 5px;
  background-color: #4696c8;
  height: 100%;
}

.cpuUsage {
  color: #646E7D;
  font-size: 24px;
}

.cpuPercent {
  background-color: #373C46;
  height: 100%;
}

.metaDataIndividual {
  border-left: 1px solid white;
  height: 100%;
  background-color: #c8c8c8;
}

.metaDataHeading {
  font-size: 8px;
}

.metaDataData {
  text-align-all: center;
  font-size: 22px;
  height: 100%;
  vertical-align: middle;
  line-height: 40px;

}

.processCpu {
  height: 80px;
  color: #A0A0AF;
  text-align: center;
}

.metaData {
  height: 60px;
  text-align: center;
}

.logoImage {
  padding: 10px;
  max-width: 200px;
}

.headerText {
  padding: 10px;
  font-size: 32px;
  color: #646E7d;
}

.processUptimeValue {
  font-family: DjbGetDigital;
}

.glyphicon {
  color: #646E7d;
}

.red {
  color: red;
}

.green {
  color: green;
}

/* D3 */
.area {
  fill: lightsteelblue;
  stroke-width: 0;
}

.tick {
  stroke-dasharray: 1, 2;
  visibility:hidden;
}

.axis path,
.axis line{
  fill: none;
  shape-rendering:crispEdge;
}

.axis text{
  font-family: sans-serif;
  font-size: 10px;
}

/* FONTS */
@font-face {
  font-family: SegoeUI;
  src: url(../fonts/segoeui.ttf);
}

@font-face {
  font-family: DjbGetDigital;
  src: url(../fonts/DJBGetDigital.ttf)
}

/* GRUNT GENERATED */

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  font-family: SegoeUI;
  padding: 0;
  background-color: #373C46;
  height: 100%;
  min-height: 100%;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  margin-bottom: 10px;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /*.container {*/
  /*max-width: 730px;*/
  /*}*/
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }

  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
}
