<div class="col-md-6">
  <div class="processcontainer">
    <div id="processTitleBar">Process: {{processCount}}
      <button class="pull-right" ng-click="removeDirective()">x</button>
    </div>
    <div id="processCpu" class="processCpu">
      <div id="cpuPercent">
        <div>CPU %</div>
        <div>{{cpuUsage}} %</div>
      </div>
      <div id="cpuChart"></div>
    </div>
    <div id="metaData" class="metaData">
      <div id="processStatus" class="col-md-2 col-sm-2">
        <div>Status</div>
        <div>On</div>
      </div>
      <div id="processInstances" class="col-md-2 col-sm-2">
        <div>Instances</div>
        <div>4</div>
      </div>
      <div id="processMemory" class="col-md-2 col-sm-2">
        <div>Memory</div>
        <div>39mb</div>
      </div>
      <div id="processUptime" class="col-md-4 col-sm-4">
        <div>Up Time</div>
        <div>{{upTime| secondsToDate | date:'HH:mm:ss'}}</div>
      </div>
      <div id="processRestarts" class="col-md-2 col-sm-2">
        <div>Restarts</div>
        <div>0</div>
      </div>
    </div>
  </div>
</div>
