<!--<div fader fadeDuration="200" fadeShown="fadedIn" class="col-md-6">-->
<div class="col-md-6">
  <div class="processcontainer">
    <div class="processTitleBar row">
      Process: {{processCount}}
      <i class="glyphicon glyphicon-remove pull-right" ng-click="removeDirective()"></i>

    </div>
    <div class="processCpu row">
      <div class="col-md-3 cpuPercent">
        <div>CPU %</div>
        <div class="cpuUsage">{{cpuUsage}}</div>
      </div>
      <div class="col-md-9 cpuChart" id="cpuChart" linear-chart-directive chart-data="cpuData">
      </div>
    </div>
    <div class="metaData row">
      <div class="metaDataIndividual processStatus col-md-2 col-sm-2">
        <div class="metaDataHeading">Status</div>
        <div class="processStatusData metaDataData"><span ng-class="{green: processStatus === 'On', red: processStatus === 'Off'}">{{processStatus}}</span></div>
      </div>
      <div class="metaDataIndividual processInstances col-md-2 col-sm-2">
        <div class="metaDataHeading">Instances</div>
        <div class="metaDataData">{{instances}}</div>
      </div>
      <div class="metaDataIndividual processMemory col-md-2 col-sm-2">
        <div class="metaDataHeading">Memory</div>
        <div class="metaDataData">{{memoryUsage}}</div>
      </div>
      <div class="metaDataIndividual processUptime col-md-4 col-sm-4">
        <div class="metaDataHeading">Up Time</div>
        <div class="processUptimeValue metaDataData">{{upTime| secondsToDate | date:'HH:mm:ss'}}</div>
      </div>
      <div class="metaDataIndividual processRestarts col-md-2 col-sm-2">
        <div class="metaDataHeading">Restarts</div>
        <div class="metaDataData">0</div>
      </div>
    </div>
  </div>
</div>
